# video files
*.mp4

#database files and non-static assets
*.sqlite
*.sqlite3
**/assets/thumbnails
**/assets/videos

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# vscode files
.vscode

# Log files
*.log

# Frame for config
single_frame.webp
