#django backend & frontend
django
django-filter
django-bootstrap5
fastapi #for video streaming
uvicorn

#config
python-decouple
django-constance
django-picklefield

#utils
unidecode

# for multiprocess management
filelock

#video management
Pillow
opencv-python
numpy
av --no-binary=av