#django backend & frontend
django
django-filter
django-bootstrap5
djangorestframework
adrf
fastapi #for video streaming
uvicorn

#config
python-decouple
django-constance
django-picklefield

#utils
unidecode
pystemd

#video management
Pillow
opencv-python
numpy
av --no-binary=av