[Unit]
Description=Service running the bird_watcher motion detector
#comment out the lines below if not using v4l2loopback
Requires=birdwatcher-v4l2loopback.service
After=birdwatcher-v4l2loopback.service

[Service]
User=root
#Enter here the location of the bird_watcher directory of the bird-watcher git repo for example
WorkingDirectory=/home/pi/bird-watcher/bird_watcher
ExecStart=/home/pi/bird-watcher/.venv/bin/python3 manage.py watch_motion
Restart=always
RestartSec=3
StandardError=journal
StandardOutput=journal

[Install]
# commented so it is not started on boot
#WantedBy=multi-user.target 