[Unit]
Description=Service to send video data from the /dev/video0 to the loopback devices of /dev/video100 and /dev/video101

[Service]
User=root
WorkingDirectory=/
ExecStart=/usr/bin/ffmpeg  -f v4l2 -i /dev/video0 -codec copy -f v4l2 /dev/video100 -codec copy -f v4l2 /dev/video101
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target