@charset "UTF-8";

body {
    background-color: #C7EFCF; /* Soft grey background color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Better-looking font */
}
.video-player-container {
    border: 1px solid #b7ddbd;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
}
.video-title {
    color: #333333; /* Darker text color for video title */
    margin-top: 20px; /* Add space between video player and title */
}
.card {
    background-color: #b4e2bd; /* White background for cards */
    border: 2px solid #424242; /* Discreet border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}
.edit-tags-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.edit-tags-li {
float: left;
}

.video-card {
    margin-bottom: 20px;
}
.video-card img {
    width: 100%;
    height: auto;
}
@media (min-width: 768px) {
    .video-card {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

a.nav-link:link
{
   color: black;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #202020;
   text-decoration: none;
}
a.nav-link:active
{
   color: #202020;
   text-decoration: none;
}