<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings</title>
    {% include "header.html" %}
</head>
<body>
    <div class="container justify-content-center">
        <form id="configForm">
            {{ form.as_ul }}
            <div class="image-container">
                <img class="noselect" id="selected-image" draggable="false" src="/stream/single">
                <div id="selection-rectangle"></div>
            </div>
            <input type="hidden" name="x" id="x">
            <input type="hidden" name="y" id="y">
            <input type="hidden" name="width" id="width">
            <input type="hidden" name="height" id="height">
            <input type="submit" class="btn btn-primary" id="submitSettingsButton" value="Save Settings">
        </form>
    </div>
    <div class="container mt-5">
        <span><br></span>
        <div id="toggleBirdWatcher">
            <input type="radio" class="btn-check" name="options-outlined" id="toggleBirdWatcherOn" autocomplete="off" {% if watcher_running %}checked{% endif %}>
            <label class="btn btn-outline-success" for="toggleBirdWatcherOn">Motion Detection On</label>
            <input type="radio" class="btn-check" name="options-outlined" id="toggleBirdWatcherOff" autocomplete="off" {% if not watcher_running %}checked{% endif %}>
            <label class="btn btn-outline-danger" for="toggleBirdWatcherOff">Motion Detection Off</label>
            <div class="spinner-border spinner-border-sm text-primary d-none" role="status" id="loadingSpinner">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Motion Detection Camera</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="error-toast-body"></div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
          $('#toggleBirdWatcherOn').change(function() {
            var isChecked = $(this).prop('checked');
            // Show loading spinner and disable toggle toggle while ajax is running
            $('#loadingSpinner').removeClass('d-none');
            $('#toggleBirdWatcher').prop('disabled', true);
            $('#toggleBirdWatcherOn').prop('disabled', true);
            $('#toggleBirdWatcherOff').prop('disabled', true);
            
            // Send AJAX request
            $.ajax({
              type: isChecked ? 'PUT' : 'DELETE',
              url: '/birdwatcher/motion',
              success: function(response) {
                // Hide loading spinner
                $('#loadingSpinner').addClass('d-none');
                // Re-enable toggle button
                $('#toggleBirdWatcher').prop('disabled', false);
                $('#toggleBirdWatcherOn').prop('disabled', false);
                $('#toggleBirdWatcherOff').prop('disabled', false);
                
                // Show success message
                showToast('Action successful!');
              },
              error: function(xhr, status, textStatus, errorthrown) {
                // Hide loading spinner
                $('#loadingSpinner').addClass('d-none');
                
                // Re-enable toggle button
                $('#toggleBirdWatcher').prop('disabled', false);
                $('#toggleBirdWatcherOn').prop('disabled', false);
                $('#toggleBirdWatcherOff').prop('disabled', false);
                
                // Return toggle to previous state
                if (isChecked){
                    document.getElementById('toggleBirdWatcherOff').checked = true;
                }else{
                    document.getElementById('toggleBirdWatcherOn').checked = true;
                }
                
                // Show error message
                showToast('Error: ' + xhr.responseJSON.error);
              }
            });
          });
        });
          
        // Function to display toast message
        function showToast(message) {
            var toastElement = document.getElementById('errorToast');
            var toastBody = document.getElementById('error-toast-body');
            toastBody.textContent = message;
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        }
        
        $(document).ready(function() {
            var image = $('#selected-image');
            var imageOffset = image.offset();
            var isSelecting = false;
            var startX, startY;

            $('#selection-rectangle').css({
                    left: imageOffset.left + {{ box_tl_x }}*image.width()/100.0,
                    top: imageOffset.top + {{ box_tl_y }}*image.height()/100.0,
                    width: {{ box_width }}*image.width()/100.0,
                    height: {{ box_height }}*image.height()/100.0,
                    display: 'block'
                });

            image.mousedown(function(e) {
                isSelecting = true;
                startX = e.pageX;// - imageOffset.left;
                startY = e.pageY;// - imageOffset.top;

                $('#selection-rectangle').css({
                    left: startX,
                    top: startY,
                    width: 0,
                    height: 0,
                    display: 'block'
                });
            });

            $(document).mousemove(function(e) {
                if (!isSelecting) return;

                var width = e.pageX - startX;
                var height = e.pageY - startY;

                $('#selection-rectangle').css({
                    width: width,
                    height: height
                });
            });

            $(document).mouseup(function() {
                isSelecting = false;
                $('#x').val(startX- imageOffset.left);
                $('#y').val(startY- imageOffset.top);
                $('#width').val($('#selection-rectangle').width());
                $('#height').val($('#selection-rectangle').height());
            });

            $('#configForm').submit(function(e) {
                e.preventDefault();
                // Here you can use AJAX to send the form data via POST to the current URL
                // Example:
                // $.post(window.location.href, $(this).serialize(), function(response) {
                //     console.log(response);
                // });
            });
        });
        </script>        
</body>
</html>
