<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
{% include "header.html" %}
    <div class="container">
        <h1 class="text-center my-5">Videos</h1>
        <div class="card-deck row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            {% for video in video_list %}
            <div style="max-width:30em" class="col card mx-2 video-card" >
                <a class="nav-link" href="/video/{{ video.pk }}">
                    <img src="{{ video.thumbnail_url }}" class="card-img-top" alt="Broken thumbnail">
                </a>
                <div class="card-body text-center container">
                    <div class="row">
                        <div class="col col-auto">
                            <a class="nav-link" href="/video/{{ video.pk }}">
                                <h5 class="card-title video-title text-break">{{ video.title }}</h5>
                            </a>
                        </div>
                        <div class="col order-last flex">
                            <button id="delete-video-button" class="btn btn-primary-outline" style="padding: 0; margin-top: 12px; margin-bottom: 0px; font-size: 24px; border-color: transparent;" id="#delete-video-button" vid_url="/video/1">🗑</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Motion Detection Camera</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="error-toast-body"></div>
        </div>
    </div>

    <script>
    $(document).ready(() => 
        {$("#delete-video-button").click(function(e) {
            e.preventDefault();
            var del_url = $(this).attr("vid_url");
            console.log(del_url);
            if (confirm("Are you sure you want to delete this video?")){
                $.ajax({
                    type: "DELETE",
                    url: del_url,
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(result) {
                        window.location.replace("/videos/");
                    },
                    error: function(result) {
                        showToast('Error deleting file. Contact an administrator');
                    }
                });
            }
        });

        // Function to display toast message
        function showToast(message) {
            var toastElement = document.getElementById('errorToast');
            var toastBody = document.getElementById('error-toast-body');
            toastBody.textContent = message;
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        }
    });
    </script>
</body>
</html>
