<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
{% include "header.html" %}
    <div class="container">
        <h1 class="text-center my-5">Videos</h1>
        <div class="card-deck cards">
            {% for video in video_list %}
            <a class="card video-card nav-link" href="/video/{{ video.pk }}">
                <img src="{{ video.thumbnail_url }}" class="card-img-top" alt="Broken thumbnail">
                <div class="card-body">
                    <h5 class="card-title video-title text-break">{{ video.title }}</h5>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
